doctype html
head
    meta(charset='UTF-8')
    title Palate Preference
    link(rel='stylesheet' href='/css/site.css')
    script(src='/js/site.js')
body
    main
        block main
    footer
        block footer



