extends layouts/main.pug
block main
    h1.cool#nice(data-json=`select`) Palate Preference
    p PalatePreference.com is your ultimate solution for simplifying party and event planning by seamlessly sharing culinary preferences and allergies with organizers. Whether you're coordinating a company event, hosting a party or planning a gathering with friends, our platform ensures that everyone's dietary needs are understood and accommodated.